.form {
  &-result {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      margin: 10px 0;
    }

    &-title {
      margin: 15px 0 25px;
      text-align: center;
    }

    &-avatar {
      border-radius: 50%;
    }

    &-username {
      margin: 10px 0;
    }

    &-username,
    &-location,
    &-company,
    &-followers {
      text-align: center;
    }
  }
}
