.form {
  &-button {
    &--isDisabled {
      cursor: auto;
      opacity: 0.5;

      &:hover {
        background-color: $color-accent;
        color: $color-white;
      }
    }

    &-controller {
      display: flex;
      justify-content: space-between;
      width: 100%;

      &--hasSingleButton {
        justify-content: flex-end;
      }
    }
  }
}