.form {
  &-intro {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }

  &-title {
    font-size: $font-size-l;
    text-align: center;
  }

  &-subtitle {
    margin-top: 0;
    max-width: 350px;
    text-align: center;
  }
}
