@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@400;600&display=swap');
@import './assets/styles/variables';
@import './components/Form/style';
@import './components/Intro/style';
@import './components/Results/style';
@import './components/ButtonController/style';
@import './components/ProgressBar/style';

html,
body,
#root,
.container, {
  height: 100%
}

body {
  background-color: $color-background;
  font-family: 'Roboto', sans-serif;
  font-size: $font-size-base;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

button {
  background-color: $color-accent;
  border: 2px solid $color-accent;
  box-sizing: border-box;
  border-radius: 10px;
  color: $color-white;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: $font-size-base;
  min-width: 105px;
  transition: background-color 0.1s, color 0.2s, opacity 0.3s;
  padding: 10px 20px;

  &:hover {
    background-color: transparent;
    color: $color-accent;
  }
}

legend {
  font-weight: 600;
  margin-bottom: 10px;
  padding: 0;
}

fieldset {
  border: 0;
  padding: 0;
}

input {
  border: none;
  border-radius: 6px;
  font-family: 'Roboto', sans-serif;
  font-size: $font-size-base;
  outline-color: $color-accent;
  padding: 10px 12px;
}

input[type=checkbox] {
  height: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 15px;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
}